<h1>bienvenido#index</h1>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-primary">Primary</button>

<p>Find me in app/views/welcome/index.html.erb</p>
